<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome Application</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/angular.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Palendrom", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var app = angular.module('app', []);
        app.controller('PalendromController', function ($scope) {
            var connection = $.hubConnection();
            var hub = connection.createHubProxy("PalendromHub");
            //starts the connection to the hub
            connection.start();
            //Updates the max and min value for generating palendroms on the hub. 
            hub.on("Values", function (maxValue, minValue) {
                document.getElementById("max").innerHTML = maxValue;
                document.getElementById("min").innerHTML = minValue;
            });
            //Prepends the new palendrom to the top of an ordered list item and removes list times which are greater than 20
            hub.on('palindromes', function (t) {
                $("ol").prepend("<li>" + t + "</li>");
                console.log(t);
                $('#list li:gt(19)').remove();
            });
            //updates the palendrom with max and min size of palendroms wished to be created
            $('#updateSize').click(function () {
                var maxVal = document.getElementById("maxNumberOfLetters").value;
                var minVal = document.getElementById('minNumberOfLetters').value;
                hub.invoke("Update", maxVal, minVal);
                $('#maxNumberOfLetters').val('').focus();
                $('#minNumberOfLetters').val('').focus();
            });

        });

    </script>
</body>
</html>
